/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap')
/* Main Styles based on Galaxy Fold Size*/

/* Default all margins */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Header Style */
header {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: rgb(248, 242, 242);
    width: 100%;
    box-shadow: 0 2px 2px rgb(90, 85, 85);
    justify-content: space-around;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

/*Nav Bar*/
nav {
    position: absolute;
    background-color: rgb(248, 242, 242);
    width: 100%;
    box-shadow: 0 2px 2px rgb(90, 85, 85);
    padding: 0 1rem;
    display: none;
    left: 0;
    top: 100%;
}

/*Nav Toggle Menu*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

ul {
    list-style: none;
    text-align: left;
    padding: 1rem;
    line-height: 2em;
    letter-spacing: .3em;
}

/*li:hover {
    background-color: #dad4d5;
    text-decoration: underline;
}*/

/*a:hover, a:focus {
    text-decoration: underline;
    background-color: #dad4d5;
}

a {
    text-decoration: underline; 
}*/

a:visited,
a:active {
    text-decoration: underline;
    background-color: #dad4d5;
}

h1 {
    font-family: 'Vollkorn', sans-serif;
    letter-spacing: 2px;
    color: #615d5e;
}


/* Main body Styles */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #000000e8;
    max-width: 2000px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 238, 238);
    color: #000000e8;
    margin-top: 85px;
    overflow: auto;
    overflow-x: hidden;
}

.hero-image {
    background: url(".//images/salad-closeup-612x612.webp") no-repeat center center/cover;
    height: 10%;
    position: absolute;
    width: 100%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(248, 242, 242);
    border: 1px solid rgb(245, 238, 238);
    opacity: 0.6;
    color: #000000e8;
    font-weight: bold;
}

.about-us {
    background-color: #8080801f;
    color: #000000e8;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    margin-top: 350px;
}

.salad-logo {
    font-weight: bold;
}


/* Images Main Page */

.img-text {
    text-align: center;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(248, 242, 242);
    border: 1px solid rgb(245, 238, 238);
    opacity: 0.6;
    color: #000000e8;
    font-weight: bold;
    font-size: 2rem;
}

/*This weeks promo*/
.promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #000000e8;
    padding: 3rem;
    margin: 0 30px 30px 30px;
    border: 2px dashed #05040461;
    background: url(./images/sale-gif.gif) 50% 50% no-repeat;
    text-align: center;
}

.offer-end {
    font-size: smaller;
    font-style: italic;
}

/*Table of opening hours*/
.open-hours {
    padding: 0 80px;
    border: black;
    font-weight: 500;
    display: grid;
    justify-content: center;
    border: 2px solid #a59b9b61;
    margin: 0 30px;
    text-align: center;
    overflow: hidden;

    h4 {
        text-decoration: underline;
    }

}

#grid-day {
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.6;
    text-decoration: underline;
}

/* Footer Style */
footer {
    letter-spacing: 1em;
    font-size: 150%;
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #80808029;
}

.socials a {
    color: #4b3a3d;
}

/*Styling for Menu page*/
.menu-page {
    background-color: #ffc0cb45;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border: 2px solid #05040461;
    line-height: 1.50;
    letter-spacing: 2px;
    padding: 0 50px;
    margin-top: 50px;
}

.menu-page p {
    background-color: white;
    text-align: center;
}

/*Change triangle icon to plus button for better clarity*/
details>summary {
    list-style-type: none;
    cursor: pointer;
}

details>summary::before {
    content: "+";
    color: #000000e8;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    margin: 5px 10px 0 0;
}

details[open] summary::before {
    content: "-"
}

.menu-images {
    display: flex;
    flex-direction: column;
}

#salad-image {
    margin-top: 25px;
}

.meal-deal {
    border: 5px solid grey;
    margin: 50px;
    padding: 50px;
    text-align: center;
    background-color: #ffc0cb45
}

/*Styling for thank-you page */
.thank-you {
    /*position: absolute;*/
    display: flex;
    border: 5px solid #808080a8;
    padding: 3rem;
    text-align: center;
    background: url(.//images/salad-closeup-612x612.webp) no-repeat center center / cover;
}

.ty-message {
    margin: 30px;
    background-color: rgb(248, 242, 242);
    border: 1px solid rgb(245, 238, 238);
    opacity: 0.6;
    color: #000000e8;
    font-weight: bold;
}

.ty-message h2 p {
    margin: 5%;
    font-weight: bold;
    color: #000000e8;
}


/*Styling for contact us page*/
.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

.agree {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pers-info {
    display: flex;
    flex-direction: column;
}

#personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-map-main h2 {
    font-size: 20px;
    background-color: #8080804a;
}

.shop-map {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: 3px solid gray;
    background-color: #8080802e;
}

.shop-map iframe {
    height: 100%;
    width: 100%;
}

/*Media Query for phones and tablets (345px and up)*/
@media screen and (min-width: 345px) {
    .thank-you {
        font-size: 100%;
        justify-content: center;
        position: relative;
    }

    .about-us {
        margin-top: 350px;
    }
}

/*Media Query for tablets and desktops (768px and up)*/
@media screen and (min-width: 768px) {

    /*navigation bar*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    header {
        justify-content: space-between;
        font-size: 150%;

    }

    .hero-image {
        height: 20%;
    }

    .about-us {
        padding: 50px 150px 0;
        margin-top: 420px;
    }

    .local-img,
    .loyalty-img,
    .coffee-img {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-end;
        justify-content: center;
        width: 350px;
        height: 350px;
        border: 2px solid gray;
        border-radius: 30%;
        overflow: hidden;
    }

    .img-container {
        display: flex;
        margin-top: 50px;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .img-text {
        position: absolute;
        border-radius: 25%;
    }

    #interest-point {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .promo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        background: url(./images/sale-gif.gif) 50% 50%;
    }

    /*menu page*/
    .menu-page {
        margin-top: 0;
    }

    .menu-page p {
        width: 33%;
    }

    .menu-images {
        position: absolute;
        right: 0;
        margin-right: 10px;
        border: 3px solid gray;
        border-radius: 50%;
        overflow: hidden;
        width: 33%;
        height: 250px;
    }

    /*Contact-us Page*/
    .shop-map {
        flex-direction: column;
        justify-content: space-evenly;
        margin: 50px;
    }

    .shop-map h2 {
        text-align: center;
    }

    .message-form {
        display: flex;
        flex-direction: column;
    }


    /*Thank-you Page*/
    .thank-you {
        font-size: 200%;
        justify-content: center;
        position: relative;
    }

}



/*Media Query for tablets and desktops (992px and up)*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #857f80;
    }

    .thank-you {
        font-size: 200%;
        justify-content: center;
        position: relative;
    }

    .img-container {
        flex-direction: row;
    }
    .local-img,
    .loyalty-img,
    .coffee-img {
        margin: 10px;
    }

    .promo {
        background: url(./images/sale-gif.gif) 50% 50%;
    }
}